# Ignore macOS system files
.DS_Store

# Ignore JetBrains IDE settings
.idea/

# Ignore compiled binaries and build artifacts
*/bin/
*/obj/

# Ignore npm package lock files
**/package-lock.json

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.DotSettings

# Ignore Rider IDE settings
*.sln.DotSettings.user

Backend.Interview.UnitTest/bin/
