<form nz-form [formGroup]="form" nzLayout="vertical">

  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="firstName" type="text" placeholder="First Name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <input nz-input formControlName="lastName" type="text" placeholder="Last Name">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-date-picker formControlName="dob" nzPlaceHolder="Date of Birth" nzFormat="MM/dd/yyyy"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item formGroupName="address">
    <nz-form-label>Address</nz-form-label>
    <nz-form-control>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <input nz-input formControlName="line1" type="text" placeholder="Line 1"/>
        </div>
        <div nz-col [nzSpan]="12">
          <input nz-input formControlName="line2" type="text" placeholder="Line 2"/>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item formGroupName="address">
    <nz-form-control>
      <input nz-input formControlName="city" type="text" placeholder="City">
    </nz-form-control>
  </nz-form-item>

  <nz-form-item formGroupName="address">
    <nz-form-control>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="12">
          <input nz-input formControlName="state" type="text" placeholder="State"/>
        </div>
        <div nz-col [nzSpan]="12">
          <input nz-input formControlName="zipCode" type="text" placeholder="Zip Code"/>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="submit()">{{ data?.person ? 'Update' : 'Create' }}</button>
</div>
